<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.room1000.attr.dao.AttrTypeDtoMapper">
  <resultMap id="BaseResultMap" type="com.room1000.attr.dto.AttrTypeDto">
    <!--
    @mbg.generated
    -->
    <id column="type" jdbcType="CHAR" property="type" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="comments" jdbcType="VARCHAR" property="comments" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
    @mbg.generated
    -->
    type, type_name, comments
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
    @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from attr_type
    where type = #{type,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
    @mbg.generated
    -->
    delete from attr_type
    where type = #{type,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.room1000.attr.dto.AttrTypeDto">
    <!--
    @mbg.generated
    -->
    insert into attr_type (type, type_name, comments
      )
    values (#{type,jdbcType=CHAR}, #{typeName,jdbcType=VARCHAR}, #{comments,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.room1000.attr.dto.AttrTypeDto">
    <!--
    @mbg.generated
    -->
    insert into attr_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="type != null">
        type,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="comments != null">
        comments,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        #{comments,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.room1000.attr.dto.AttrTypeDto">
    <!--
    @mbg.generated
    -->
    update attr_type
    <set>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        comments = #{comments,jdbcType=VARCHAR},
      </if>
    </set>
    where type = #{type,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.room1000.attr.dto.AttrTypeDto">
    <!--
    @mbg.generated
    -->
    update attr_type
    set type_name = #{typeName,jdbcType=VARCHAR},
      comments = #{comments,jdbcType=VARCHAR}
    where type = #{type,jdbcType=CHAR}
  </update>
</mapper>