* {
	margin: 0;
	padding: 0;
}

body {
	background: #efefee;
}
#layout{box-orient: vertical;box-direction : reverse;margin:20px;}
#opt {
	display: -moz-box;
	display: -webkit-box;
	display: block;
	
	text-align: center;
}

.box_x {
	-webkit-box-flex: 1;
	box-flex: 1;
	-moz-box-flex: 1;
	margin: 1%;
	border: 1px solid #999999;
	color:#555555;
	border-radius:3px;
	background: #efefee;
	-webkit-box-align: center;
	-webkit-box-pack: center;
}
/*.box_x:active{background:#f8b62b;border-color:#f8b62b;color:#FFFFFF;}
.box_xx:active{background:#f8b62b;border-color:#f8b62b;color:#FFFFFF;}*/
.box_xx{
	margin: 1%;
	border: 1px solid #999999;
	color:#555555;
	border-radius:3px;
	background: #efefee;
	-webkit-box-align: center;
	-webkit-box-pack: center;
}
    	/*#asd:active{background:#16a7b4;color:#fff;border:1px solid #16a7b4}*/    	
.tit {
	vertical-align: middle;
	display: table-cell;
	-webkit-box-align: center;
	display: -webkit-box;
	-webkit-box-pack: center
}