<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.room1000.suborder.ownercancelleaseorder.dao.OwnerCancelLeaseOrderTypeDtoMapper">
  <resultMap id="BaseResultMap" type="com.room1000.suborder.ownercancelleaseorder.dto.OwnerCancelLeaseOrderTypeDto">
    <!--
    @mbg.generated
    -->
    <id column="type" jdbcType="CHAR" property="type" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="type_name_en" jdbcType="VARCHAR" property="typeNameEn" />
    <result column="comments" jdbcType="VARCHAR" property="comments" />
  </resultMap>
</mapper>